<div data-controller= "post-button">
  <%= form_with model: comment, url: comments_path do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.text_field :body, data: { target: 'post-button.textField' }%>
    <%= f.submit "Comment", data: { action: "click->post-button#clear_fields", target: "postButton" } %>
  <% end %>
</div>
