<div data-controller= "post-button">
  <%= form_with model: comment, url: comments_path, class: "commentForm" do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.text_area :body, data: { target: 'post-button.textField' }, class: "input", id: "comment_input"%>
    <%= f.submit "Comment", data: { action: "click->post-button#clear_fields", target: "postButton" }, class: "submitBtn" %>
  <% end %>
</div>
