
<h1>Logged in as: <%= current_user.name %> </h1> 

<h3> Followers: </h3>
<% current_user.followers.each do |f| %>
  <%= f.name%> <br>
<% end %>

<% if received_follow_requests.any? %>
  <h3>You have some follow requests pending:</h3>

  <% received_follow_requests.each do |req| %>
    <%= req.sender.name %>

  <div data-controller= "follow-buttons">
    <%= follow_request_decision_form(accept_follow_request_user_path(req.sender.id), req, "Accept", "click->follow-buttons#change_accept_button", "follow-buttons.acceptButton") %>
    <%= follow_request_decision_form(reject_follow_request_user_path(req.sender.id), req, "Delete", "click->follow-buttons#change_reject_button", "follow-buttons.rejectButton") %>
    <br>
  </div>
  <%end%>

<% end %>

<h3>People:</h3>
  <% users.each do |user| %>
    <%= follow_request_form(user, sent_follow_requests)%>
<% end %>


<br>

<%= button_to 'Log out', destroy_user_session_path, method: :delete %>  

Can send follow requests. Now: <br>
- let users unfollow other users <br>
- after creating posts, make the posts of followed users visible 
