<h1>Hey there, <%= image_tag(current_user.profile_picture, height: "40", style: "border-radius: 50%;") if current_user.profile_picture.attached? %> 
<%= link_to current_user.name, current_user %>! </h1> 

<% if received_follow_requests.any? %>
  <h3>You have some follow requests pending:</h3>

  <% received_follow_requests.each do |req| %>
    <%= link_to req.sender.name, req.sender %>

  <!--Buttons that allow the current_user to accept or reject a FollowRequest. 
  They use helpers from follow_requests_helper.-->
  <div data-controller= "follow-buttons">
    <%= follow_request_decision_form(accept_follow_request_user_path(req.sender.id), 
                                     req, 
                                     "Accept", 
                                     "click->follow-buttons#change_accept_button", 
                                     "follow-buttons.acceptButton") %>
    <%= follow_request_decision_form(reject_follow_request_user_path(req.sender.id), 
                                     req, 
                                     "Delete", 
                                     "click->follow-buttons#change_reject_button", 
                                     "follow-buttons.rejectButton") %>
    <br>
  </div>
  <%end%>
<% end %>

<h2>People:</h2>
  <% users.each do |user| %>
    <%= image_tag(user.profile_picture, height: "40", style: "border-radius: 50%;") if user.profile_picture.attached? %>
    <%= link_to user.name, user %>

  <!--Display a follow request button if the user has no sent request from the current_user  in the database
  or an unfollow_button if the user is already followed.-->
    <%= follow_request_form(user, sent_follow_requests)%>
    <%= unfollow_button(user)%>
    <br>
  <% end %>

<br>

<%= button_to 'Log out', destroy_user_session_path, method: :delete %>  
