<h1><%= @user.name %></h1>
<%= big_user_picture %>

<%= profile_picture_form%>
<% unless @user == current_user %>
  <%= follow_request_form(@user, @sent_requests) %>
  <%= unfollow_button(@user) %>
<% end %>

<ul>
  <li>Age:<%= @user.age %></li>
  <li>City:<%= @user.city %></li>
</ul>

<h2> Followers: </h2>
<% @user.followers.each do |f| %>
  <%= user_links(f)%>
  <br>
<% end %>

<h2><%= @user.name %>'s posts:</h2>

<%= render @user.posts%>
