<h1><%= @user.name %></h1>
<%= big_user_picture %>

<%= profile_picture_form%>

<ul>
  <li>Age:<%= @user.age %></li>
  <li>City:<%= @user.city %></li>
</ul>

<h3> Followers: </h3>
<% @user.followers.each do |f| %>
  <%= user_links(f)%>
  <br>
<% end %>

<br>

<%= link_to "Home", root_path%>

<% @user.posts.each do |post| %>
  <h3><%= link_to small_user_picture(post.author), post.author %>
  <%= post.title%></h3>
  <%= post.body %>
<% end %>
