<h1><%= @user.name %></h1>
<%= big_user_picture %>

<%= profile_picture_form%>

<ul>
  <li>Age:<%= @user.age %></li>
  <li>City:<%= @user.city %></li>
</ul>

<h2> Followers: </h2>
<% @user.followers.each do |f| %>
  <%= user_links(f)%>
  <br>
<% end %>

<h2><%= @user.name %>'s posts:</h2>
<% @user.posts.each do |post| %>
<div> __________________________________________________________________________________________________________</div>
  <h3><%= link_to small_user_picture(post.author), post.author %>
  <%= post.title%></h3>
  <%= post.body %>
<% end %>
