<div class="postContainer">
  <h3 class="postTitle"><%= post.title %>, by <%= user_links(post.author, class: "userLink")%></h3>

  <div class="postBody">
    <%= simple_format(post.body) %>
  </div>


<div class="utilitiesContainer">
  <div class="likesContainer">
      <div id="likes_<%= post.id %>" class="likeCount">
        <%= post.likes.count%>
      </div>

      <%= like_button(post) %>
    </div>

    <%= render partial: 'comments/form', locals: { post: post, 
                                                   comment: new_comment } %>
</div>

<h3>The Conversation:</h3>
  <div id="comments_<%= post.id %>">
    <%= render post.comments %>
  </div>
</div>
