<h3><%= user_links(post.author)%></h3>

<%= post.body %><br> <br>

<div style="display: inline-block;">
  <%= like_button(post) %>
</div>
<div id="likes_<%= post.id %>" style="display: inline-block;">
  <%= post.likes.count%>
</div>

<h3>Comments:</h3>
<div id="comments_<%= post.id %>", style="margin-left: 50px">
  <%= render post.comments %>
  <br>
</div>

<div style="margin-left: 50px">
  <%= render partial: 'comments/form', locals: { post: post, 
                                             comment: new_comment } %>
</div>

<div> __________________________________________________________________________________________________________</div>
