<%= render partial: 'follow_requests/index', locals: { received_follow_requests: @received_follow_requests } %>

<%= render partial: 'users/index', locals: { users: @users, 
                                             sent_follow_requests: @sent_follow_requests } %>

<h2>Want to say something to the world?</h2>
<%= turbo_frame_tag "new_post" do %>
  <%= button_to "Make a post!", new_post_path, method: :get %>
<% end %>

<div> __________________________________________________________________________________________________________</div>
<div id="posts">
  <%= render @posts %>
</div>

 
Users can now make posts and they are visible on the index page. A user's posts are also visible on their own page:
- allow users to like posts
  - update the like count live
  - allow users to unlike a post
  - allow users to like a post from the profile of a user
- allow users to comment on posts
