<%= render partial: 'follow_requests/index', locals: { received_follow_requests: @received_follow_requests } %>

<%= render partial: 'users/index', locals: { users: @users, 
                                             sent_follow_requests: @sent_follow_requests,
                                             comment: @comment } %>

<h2>Want to say something to the world?</h2>
<%= turbo_frame_tag "new_post" do %>
  <%= button_to "Make a post!", new_post_path, method: :get %>
<% end %>

<div> __________________________________________________________________________________________________________</div>
<div id="posts">
  <%= render @posts %>
</div>

 
Users can now make posts and they are visible on the index page. A user's posts are also visible on their own page:
- fix @comment not being accessible to user#show and prohibiting the creation of commits
- allow users to send follow requests directly from the profile page of a user 
- figure out why relationships are forgiven after a time; followees don't remember their followers at some point
