<%= render partial: 'follow_requests/index', locals: { received_follow_requests: @received_follow_requests } %>

<%= render partial: 'users/index', locals: { users: @users, 
                                             sent_follow_requests: @sent_follow_requests,
                                             comment: @comment } %>

<h2>Want to say something to the world?</h2>
<%= turbo_frame_tag "new_post" do %>
  <%= button_to "Make a post!", new_post_path, method: :get %>
<% end %>

<div> __________________________________________________________________________________________________________</div>
<div id="posts">
  <%= render @posts %>
</div>

<!--
Confirmed to work: 
  - creating comments
  - creating follow requests
  - liking and unliking a post
  - all model relationships
  -->

<!--
Things done so far: 
  - created Dave and Naomi
    - sent friend requests between them 
    - updated Naomi and Dave's avatars
  - posted as Naomi 
    - sent a comment on Naomi's post as Dave
    - liked and unliked that post
-->
