<%= turbo_frame_tag "new_post" do %>
  <div data-controller= "post-button">
    <%= form_with model: @post, url: posts_path , data: { turbo: true } do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, data: { target: "post-button.textField" } %> <br> <br>
    
      <%= f.label :body %>
      <%= f.text_field :body, data: { target: 'post-button.textField' } %> <br> <br>

      <%= f.submit "Post", data: { action: "click->post-button#clear_fields", target: "postButton" } %> <br>
    <% end %>
  </div>
<% end %>

