<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Odinbook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless devise_controller? %>
    <div style="position: sticky; top: 0; background: #fff; z-index: 1000; padding: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
      <h1>Hey there, <%= user_links(current_user) %>! </h1> 
      <nav>
        <%= button_to "Home", root_path %> |
        <%= button_to 'Log out', destroy_user_session_path, method: :delete %>  
      </nav>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
